<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <!--basics-->
  <link rel="shortcut icon" href="/favicon.ico">
  <!--go nuts-->
  <link rel="icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/favicon.ico">
  <!--General use iOS/Android icon, auto-downscaled by devices-->
  <link rel="icon" type="image/png" sizes="152x152" href="/assets/img/favicon-152.png">
  <!--Touch icon for iOS 2.0+ and Android 2.1+-->
  <link rel="apple-touch-icon-precomposed" href="/assets/img/favicon-152.png">
  <!--Favicon Chrome for Android-->
  <link rel="shortcut icon" sizes="196x196" href="/assets/img/favicon-196.png">
  <!--IE 10 Metro tile icon (Metro equivalent of apple-touch-icon)-->
  <meta name="msapplication-TileColor" content="#161618">
  <meta name="msapplication-TileImage" content="/assets/img/favicon-144.png">
  <!--IE 11 Tile for Windows 8.1 Start Screen-->
  <meta name="application-name" content="npstr.space">
  <meta name="msapplication-tooltip" content="42">
  <meta name="msapplication-config" content="/assets/img/ieconfig.xml">
</head>
