<div id="audio-overlay">
  <iframe id="audio-player" src="" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture; fullscreen"></iframe>
  <div id="audio-button" aria-label="Toggle AudioPlayer"><span class="icon fo icon-music"></span></div>
</div>

<div id="particles-js">
  <div class="content floating">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.email}}"><span class="icon fo icon-mail-alt"></span></a>
        <a aria-label="My Twitter" target="_blank" rel="noopener" href="https://twitter.com/{{site.twitter_username}}"><span class="icon fo icon-twitter"></span></a>
        <a aria-label="My Github" target="_blank" rel="noopener" href="https://github.com/{{site.github_username}}"><span class="icon fo icon-github-circled"></span></a>
        <a aria-label="My Keybase" target="_blank" rel="noopener" href="https://keybase.io/{{site.keybase_username}}"><span class="icon fo icon-key"></span></a>
        <a aria-label="My Twitch" target="_blank" rel="noopener" href="https://twitch.tv/{{site.twitch_username}}"><span class="icon fo icon-twitch"></span></a>
      </div>
  </div>
</div>
