<div id="particles-js">
  <div class="content floating">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.email}}"><span class="icon fo icon-mail-alt"></span></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><span class="icon fo icon-github-circled"></span></a>
        <a aria-label="My Keybase" target="_blank" href="https://keybase.io/{{site.keybase_username}}"><span class="icon fo icon-key"></span></a>
        <a aria-label="My Patreon" target="_blank" href="https://patreon.com/{{site.patreon_username}}"><span class="icon fo icon-patreon"></span></a>
        <a aria-label="My Twitch" target="_blank" href="https://twitch.tv/{{site.twitch_username}}"><span class="icon fo icon-twitch_icon"></span></a>      
      </div>
  </div>
</div>
