<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <!-- ****** faviconit.com Favicons ****** -->
	<link rel="shortcut icon" href="/assets/img/favicon/galaxy.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/img/favicon/galaxy.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/assets/img/favicon/galaxy-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/assets/img/favicon/galaxy-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/galaxy-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon/galaxy-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/galaxy-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/galaxy-16.png">
	<link rel="apple-touch-icon" href="/assets/img/favicon/galaxy-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/galaxy-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/galaxy-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/galaxy-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/galaxy-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/galaxy-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/galaxy-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/galaxy-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/galaxy-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/assets/img/favicon/galaxy-144.png">
	<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
	<!-- ****** faviconit.com Favicons ****** -->
</head>
