<div id="particles-js">
  <div class="content floating">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My Keybase" target="_blank" href="https://keybase.io/{{site.keybase_username}}"><i class="icon fa fa-key" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
