$main: #161618;
$cut: 768px;
$background: url('../img/space-min.jpg');
$backgroundsmall: url('../img/space-min-small.jpg');


@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  overflow:hidden;
  background: $main;
}

#particles-js {
  background: $backgroundsmall;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  @media only screen and (min-width:$cut) {
    background: $background;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  display: block;
  vertical-align: bottom;
  width: 100vw;
  min-height: 100vh;
  .particles-js-canvas-el {
    width:100vw !important;
    height:100vh !important;
  }
}

.floating {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(-50%, -75%);}
    35% {-webkit-transform:translate(-50%,  -70%);}
    to {-webkit-transform: translate(-50%,  -75%);}    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(-50%, -75%);}
    35% {-moz-transform:translate(-50%,  -70%);}
    to {-moz-transform: translate(-50%,  -75%);}  
}

.content {
  z-index: 1;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .site-title {
    color:#008fff;
    font-weight:300;
    font-size: 50px;
    display: block;
    line-height: 1;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 100px;
    }
  }
  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    margin: 5px 0 10px 0;
    @media only screen and (min-width:$cut){
      font-size: 40px;
    }
  }
}

.icons-header {
  display: flex;
  justify-content: center;
  text-align: center;
  .icon {
    text-align: center;
    color: #FFF;
    width: 35px;
    height: 35px;
    font-size: 35px;
    padding: 10px;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s;
    &:hover {
      color: $main;
      background: #FFF;
    }
    &:active {
      color: $main;
      background: #FFF;
    }
    @media only screen and (min-width:$cut) {
      width: 50px;
      height: 50px;
      font-size: 50px;
    }
  }
}